.title {
  margin: 15px;
}

.form-container {
  margin: 50px auto;
  border: 2px solid black;
  padding: 25px;
  width: 500px;
  color: white;
}

div .line {
  display: flex;
  justify-content: space-between;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}
