<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>
      {{user.first_name | capitalize}} {{user.last_name | capitalize}}
    </title>
  </head>
  <body class="bg-dark">
    <div class="container m-5 w-50 mx-auto">
      <table class="table mx-auto text-white">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <td class="mx-5">{{user.id}}</td>
          <td class="mx-5">{{user.first_name | capitalize}}</td>
          <td class="mx-5">{{user.last_name | capitalize}}</td>
          <td class="mx-5">{{user.email}}</td>
          <td>
            <button class="edit btn btn-success">
              <a href="/{{user.id}}/edit/">edit</a>
            </button>
          </td>
          <td>
            <button class="delete btn btn-success">
              <a href="/{{user.id}}/delete/">delete</a>
            </button>
          </td>
        </tbody>
      </table>
      <button class="btn btn-success">
        <a href="/">add more</a>
      </button>
      <button class="btn btn-success">
        <a href="/">show all</a>
      </button>
    </div>
  </body>
</html>
